.loadingContainer {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.image {
    cursor: pointer;
    opacity: 80%;
    margin: 5px;
}

.image:hover {
    opacity: 100%;   
}